.device LFE5U-45F

.comment Part: LFE5U-45F-6CABGA381

.tile CIB_R10C3:PVT_COUNT2
unknown: F2B0
unknown: F3B0
unknown: F5B0
unknown: F11B0
unknown: F13B0

.tile CIB_R10C9:CIB_EBR
arc: N3_V06N0203 S3_V06N0203

.tile CIB_R11C1:CIB_LR
arc: E1_H02E0501 JF5
arc: E1_H02E0601 S3_V06N0303
arc: E3_H06E0303 S3_V06N0303

.tile CIB_R13C89:CIB_LR
arc: N3_V06N0303 JF5
arc: W3_H06W0303 JQ5

.tile CIB_R14C89:CIB_LR
arc: W3_H06W0303 JQ5

.tile CIB_R17C1:CIB_LR
arc: E3_H06E0303 S3_V06N0303
arc: N3_V06N0303 S3_V06N0303

.tile CIB_R1C15:CIB
arc: E3_H06E0203 W3_H06E0203

.tile CIB_R1C21:CIB
arc: E3_H06E0203 W3_H06E0203

.tile CIB_R1C22:CIB
arc: S3_V06S0103 E1_H01W0100

.tile CIB_R1C23:CIB
arc: H01W0100 JQ0

.tile CIB_R1C27:CIB
arc: E3_H06E0203 W3_H06E0203

.tile CIB_R1C33:CIB
arc: E3_H06E0303 W3_H06E0203

.tile CIB_R1C36:CIB
arc: S3_V06S0003 JQ0

.tile CIB_R1C37:CIB
arc: E1_H02E0701 V06N0203

.tile CIB_R1C39:CIB
arc: E1_H02E0501 W3_H06E0303
arc: JA0 W1_H02E0701
enum: CIB.JB0MUX 0

.tile CIB_R1C3:CIB
arc: E1_H02E0701 S1_V02N0701

.tile CIB_R1C41:CIB
arc: E1_H02E0501 W1_H02E0501

.tile CIB_R1C43:CIB
arc: JA0 W1_H02E0501
enum: CIB.JB0MUX 0

.tile CIB_R1C47:CIB
arc: E1_H02E0201 E3_H06W0103

.tile CIB_R1C48:CIB
arc: JD7 H02E0201

.tile CIB_R1C53:CIB
arc: W3_H06W0103 E3_H06W0003

.tile CIB_R1C59:CIB
arc: W3_H06W0003 E3_H06W0003

.tile CIB_R1C5:CIB
arc: JA0 W1_H02E0701
enum: CIB.JB0MUX 0

.tile CIB_R1C62:CIB
arc: JA0 V02N0701
arc: V01S0100 S3_V06N0303
enum: CIB.JB0MUX 0

.tile CIB_R1C65:CIB
arc: W3_H06W0003 E3_H06W0003

.tile CIB_R1C6:CIB
arc: H00R0000 S1_V02N0401
arc: JA0 H00R0000
enum: CIB.JB0MUX 0

.tile CIB_R1C71:CIB
arc: W3_H06W0003 E3_H06W0303

.tile CIB_R1C74:CIB
arc: E1_H02E0701 S3_V06N0203

.tile CIB_R1C75:CIB
arc: JA0 H02E0701
enum: CIB.JB0MUX 0

.tile CIB_R1C77:CIB
arc: W3_H06W0303 E3_H06W0303

.tile CIB_R1C83:CIB
arc: W3_H06W0303 E3_H06W0303

.tile CIB_R1C89:CIB_LR_S
arc: W3_H06W0303 S3_V06N0303

.tile CIB_R1C9:CIB
arc: E3_H06E0203 V06N0203

.tile CIB_R20C1:CIB_LR
arc: E3_H06E0303 JF5
arc: S1_V02S0001 H06W0003

.tile CIB_R20C89:CIB_LR
arc: E1_H01E0001 W3_H06E0003
arc: JA3 E1_H01E0001
arc: W3_H06W0303 JF5
enum: CIB.JB3MUX 0

.tile CIB_R22C11:CIB_DSP
arc: W3_H06W0203 E3_H06W0103

.tile CIB_R22C17:CIB_DSP
arc: W3_H06W0103 E3_H06W0003

.tile CIB_R22C1:CIB_LR_S
arc: JA3 V00B0000
arc: V00B0000 N1_V02S0001
enum: CIB.JB3MUX 0

.tile CIB_R22C23:CIB_DSP
arc: W3_H06W0003 E3_H06W0003

.tile CIB_R22C29:CIB_DSP
arc: W3_H06W0003 E3_H06W0003

.tile CIB_R22C35:CIB_DSP
arc: W3_H06W0003 E3_H06W0303

.tile CIB_R22C41:CIB_DSP
arc: W3_H06W0303 E3_H06W0303

.tile CIB_R22C47:CIB_DSP
arc: W3_H06W0303 E3_H06W0203

.tile CIB_R22C53:CIB_DSP
arc: W3_H06W0203 E3_H06W0103

.tile CIB_R22C59:CIB_DSP
arc: W3_H06W0103 E3_H06W0103

.tile CIB_R22C5:CIB_DSP
arc: N1_V02N0701 E3_H06W0203

.tile CIB_R22C65:CIB_DSP
arc: W3_H06W0103 E3_H06W0103

.tile CIB_R22C71:CIB_DSP
arc: W3_H06W0103 E3_H06W0003

.tile CIB_R22C77:CIB_DSP
arc: W3_H06W0003 E3_H06W0303

.tile CIB_R22C83:CIB_DSP
arc: W3_H06W0303 E3_H06W0303

.tile CIB_R22C89:CIB_LR_S
arc: W3_H06W0303 JF5

.tile CIB_R22C9:CIB_DSP
arc: N3_V06N0103 S3_V06N0103

.tile CIB_R23C1:CIB_LR
arc: E3_H06E0303 JF5
arc: N3_V06N0303 JF5
arc: S3_V06S0303 JF5

.tile CIB_R26C1:CIB_LR
arc: E1_H02E0601 V06S0303
arc: E1_H02E0701 JF5
arc: E3_H06E0303 V06S0303
arc: S1_V02S0501 E3_H06W0303
arc: S1_V02S0701 E1_H01W0100

.tile CIB_R28C1:CIB_LR
arc: E3_H06E0103 V01N0101
arc: JA0 N1_V02S0701
arc: JA3 N1_V02S0501
enum: CIB.JB0MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R28C89:CIB_LR
arc: W3_H06W0303 JF5

.tile CIB_R29C1:CIB_LR
arc: E3_H06E0303 N3_V06S0303
arc: JA3 H02W0701
arc: N1_V01N0101 JF5
arc: S3_V06S0303 N3_V06S0303
enum: CIB.JB3MUX 0

.tile CIB_R31C1:CIB_LR
arc: E3_H06E0303 JF5

.tile CIB_R31C89:CIB_LR
arc: W3_H06W0303 JF5

.tile CIB_R32C89:CIB_LR
arc: S1_V02S0201 H06E0103

.tile CIB_R34C13:CIB_EBR
arc: E3_H06E0003 W3_H06E0003

.tile CIB_R34C19:CIB_EBR
arc: E3_H06E0103 W3_H06E0003

.tile CIB_R34C1:CIB_LR_S
arc: E3_H06E0303 JQ5

.tile CIB_R34C25:CIB_EBR
arc: E3_H06E0203 W3_H06E0103

.tile CIB_R34C31:CIB_EBR
arc: E3_H06E0203 W3_H06E0203

.tile CIB_R34C37:CIB_EBR
arc: E3_H06E0203 W3_H06E0203

.tile CIB_R34C43:CIB_EBR
arc: E3_H06E0303 W3_H06E0203

.tile CIB_R34C49:CIB_EBR
arc: E3_H06E0303 W3_H06E0303

.tile CIB_R34C55:CIB_EBR
arc: E3_H06E0303 W3_H06E0303

.tile CIB_R34C61:CIB_EBR
arc: E3_H06E0303 W3_H06E0303

.tile CIB_R34C67:CIB_EBR
arc: E3_H06E0303 W3_H06E0303

.tile CIB_R34C73:CIB_EBR
arc: E3_H06E0303 W3_H06E0303

.tile CIB_R34C79:CIB_EBR
arc: N1_V02N0601 W3_H06E0303

.tile CIB_R34C7:CIB_EBR
arc: E3_H06E0003 W3_H06E0303

.tile CIB_R34C89:CIB_LR_S
arc: H00L0000 N1_V02S0201
arc: JA0 H00L0000
enum: CIB.JB0MUX 0

.tile CIB_R35C1:CIB_LR
arc: E1_H02E0601 N3_V06S0303
arc: E1_H02E0701 JQ5
arc: S1_V02S0501 JF5
arc: S1_V02S0701 E1_H01W0100

.tile CIB_R36C1:CIB_LR
arc: E1_H02E0501 V02S0501

.tile CIB_R37C1:CIB_LR
arc: JA0 N1_V02S0701
enum: CIB.JB0MUX 0

.tile CIB_R44C89:CIB_LR
arc: JA0 W1_H02E0701
enum: CIB.JB0MUX 0

.tile CIB_R46C13:CIB_DSP
arc: E3_H06E0003 W3_H06E0303

.tile CIB_R46C19:CIB_DSP
arc: E3_H06E0003 W3_H06E0003

.tile CIB_R46C1:CIB_LR_S
arc: E3_H06E0303 JQ5

.tile CIB_R46C25:CIB_DSP
arc: E3_H06E0103 W3_H06E0003

.tile CIB_R46C31:CIB_DSP
arc: E3_H06E0103 W3_H06E0103

.tile CIB_R46C37:CIB_DSP
arc: E3_H06E0203 W3_H06E0103

.tile CIB_R46C43:CIB_DSP
arc: E3_H06E0203 W3_H06E0203

.tile CIB_R46C49:CIB_DSP
arc: E3_H06E0203 W3_H06E0203

.tile CIB_R46C55:CIB_DSP
arc: E3_H06E0303 W3_H06E0203

.tile CIB_R46C61:CIB_DSP
arc: N1_V02N0601 W3_H06E0303

.tile CIB_R46C7:CIB_DSP
arc: E3_H06E0303 W3_H06E0303

.tile CIB_R47C1:CIB_LR
arc: S1_V02S0501 H06W0303

.tile CIB_R47C89:CIB_LR
arc: JA3 H01E0001
arc: W1_H02W0701 JF5
enum: CIB.JB3MUX 0

.tile CIB_R49C1:CIB_LR
arc: JA0 N1_V02S0501
enum: CIB.JB0MUX 0

.tile CIB_R50C89:CIB_LR
arc: JA3 H02E0701
enum: CIB.JB3MUX 0

.tile CIB_R52C1:CIB_LR
arc: E3_H06E0303 JQ5

.tile CIB_R5C1:CIB_PLL1
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R5C89:CIB_PLL1
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R70C18:CIB
arc: JA0 H02W0701
enum: CIB.JB0MUX 0

.tile CIB_R70C19:CIB
arc: W1_H02W0701 V02S0701

.tile CIB_R70C3:CIB_PLL3
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R70C42:VCIB_DCU0
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C43:VCIB_DCUA
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C44:VCIB_DCUB
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C45:VCIB_DCUC
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C46:VCIB_DCUD
enum: CIB.JA1MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C47:VCIB_DCUF
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C48:VCIB_DCU3
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C49:VCIB_DCU2
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C4:CIB
arc: JA0 N1_V02S0501
enum: CIB.JB0MUX 0

.tile CIB_R70C50:VCIB_DCUG
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C51:VCIB_DCUH
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C52:VCIB_DCUI
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C53:VCIB_DCU1
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0

.tile CIB_R70C5:CIB
arc: JA0 N1_V02S0501
enum: CIB.JB0MUX 0

.tile CIB_R70C69:VCIB_DCU0
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C6:CIB_EFB0
enum: CIB.JB3MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C70:VCIB_DCUA
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C71:VCIB_DCUB
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C72:VCIB_DCUC
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C73:VCIB_DCUD
enum: CIB.JA1MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C74:VCIB_DCUF
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C75:VCIB_DCU3
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C76:VCIB_DCU2
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C77:VCIB_DCUG
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C78:VCIB_DCUH
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C79:VCIB_DCUI
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C7:CIB_EFB1
enum: CIB.JA3MUX 0
enum: CIB.JA4MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA6MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB4MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB6MUX 0
enum: CIB.JC3MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC5MUX 0
enum: CIB.JD3MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD5MUX 0

.tile CIB_R70C80:VCIB_DCU1
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0

.tile CIB_R70C87:CIB_PLL3
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R7C89:CIB_LR
arc: N3_V06N0303 S3_V06N0303

.tile MIB_R0C23:PIOT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON

.tile MIB_R0C36:PIOT0
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON

.tile MIB_R0C39:PIOT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R0C3:BANKREF0
enum: BANK.VCCIO 3V3

.tile MIB_R0C40:TMID_0
arc: G_TDCC0CLKI G_JTRQPCLKCIB1

.tile MIB_R0C43:PIOT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R0C5:PIOT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R0C62:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R0C6:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R0C75:PIOT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R0C87:BANKREF1
enum: BANK.VCCIO 3V3

.tile MIB_R10C0:BANKREF7
enum: BANK.VCCIO 3V3

.tile MIB_R10C12:EBR_SPINE_UL1
arc: G_VPTX0000 G_HPRX0000

.tile MIB_R10C40:CMUX_UL_0
arc: G_DCS0CLK0 G_VPFN0000
arc: G_ULPCLK0 G_VPFS0000

.tile MIB_R10C41:CMUX_UR_0
arc: G_DCS0CLK1 G_VPFN0000
arc: G_URPCLK0 G_VPFS0000

.tile MIB_R10C50:EBR_SPINE_UR0
arc: G_VPTX0000 G_HPRX0000

.tile MIB_R10C77:EBR_SPINE_UR1
arc: G_VPTX0000 G_HPRX0000

.tile MIB_R10C90:BANKREF2
enum: BANK.VCCIO 3V3

.tile MIB_R11C0:PICL0
arc: JDIA JPADDIA_PIO
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R12C0:PICL1
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON

.tile MIB_R12C90:PICR1
enum: PIOC.BASE_TYPE INPUT_LVCMOS33
enum: PIOC.HYSTERESIS ON
enum: PIOD.BASE_TYPE INPUT_LVCMOS33
enum: PIOD.HYSTERESIS ON

.tile MIB_R13C90:PICR2
enum: PIOC.BASE_TYPE INPUT_LVCMOS33
enum: PIOD.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R14C90:PICR0
arc: JDIB JPADDIB_PIO
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R15C90:PICR1_DQS0
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON

.tile MIB_R1C23:PICT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C36:PICT0
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C39:PICT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R1C43:PICT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R1C5:PICT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R1C62:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R1C6:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R1C75:PICT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R20C0:PICL0
arc: JDIA JPADDIA_PIO
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R20C90:PICR0
arc: JDIA JPADDIA_PIO
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R21C0:PICL1
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R21C90:PICR1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOC.BASE_TYPE INPUT_LVCMOS33
enum: PIOC.HYSTERESIS ON
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON

.tile MIB_R22C0:MIB_CIB_LR
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R22C90:MIB_CIB_LR_A
enum: PIOC.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R23C0:PICL0
arc: JDIA JPADDIA_PIO
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R24C0:PICL1
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON

.tile MIB_R26C0:PICL0
arc: JDIA JPADDIA_PIO
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R27C0:PICL1_DQS0
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R27C90:PICR1_DQS0
enum: PIOC.BASE_TYPE INPUT_LVCMOS33
enum: PIOC.HYSTERESIS ON

.tile MIB_R28C0:PICL2_DQS1
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R28C90:PICR2_DQS1
enum: PIOC.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R29C0:PICL0_DQS2
arc: JDIA JPADDIA_PIO
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R30C0:PICL1_DQS3
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOC.BASE_TYPE INPUT_LVCMOS33
enum: PIOC.HYSTERESIS ON
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON

.tile MIB_R30C90:PICR1_DQS3
enum: PIOC.BASE_TYPE INPUT_LVCMOS33
enum: PIOC.HYSTERESIS ON

.tile MIB_R31C0:PICL2
enum: PIOC.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R31C90:PICR2
enum: PIOC.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R33C0:PICL1
enum: PIOD.BASE_TYPE INPUT_LVCMOS33
enum: PIOD.HYSTERESIS ON

.tile MIB_R33C90:PICR1
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R34C0:MIB_CIB_LR
enum: PIOD.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R34C90:MIB_CIB_LR_A
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R35C0:PICL0
arc: JDIA JPADDIA_PIO
arc: JDIB JPADDIB_PIO
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R36C0:PICL1
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R37C0:PICL2
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R44C90:PICR0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R45C0:PICL1
enum: PIOD.BASE_TYPE INPUT_LVCMOS33
enum: PIOD.HYSTERESIS ON

.tile MIB_R45C90:PICR1
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R46C0:MIB_CIB_LR
enum: PIOD.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R47C90:PICR0
arc: JDIA JPADDIA_PIO
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R48C0:PICL1
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R48C90:PICR1
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R49C0:PICL2
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R50C90:PICR0
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R51C0:PICL1_DQS0
enum: PIOD.BASE_TYPE INPUT_LVCMOS33
enum: PIOD.HYSTERESIS ON

.tile MIB_R51C90:PICR1_DQS0
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R52C0:PICL2_DQS1
enum: PIOD.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R58C12:EBR_SPINE_LL1
arc: G_VPTX0000 G_HPRX0000

.tile MIB_R58C30:EBR_SPINE_LL0
arc: G_VPTX0000 G_HPRX0000

.tile MIB_R58C40:CMUX_LL_0
arc: G_DCS1CLK0 G_VPFN0000
arc: G_LLPCLK0 G_VPFS0000

.tile MIB_R58C41:CMUX_LR_0
arc: G_DCS1CLK1 G_VPFN0000
arc: G_LRPCLK0 G_VPFS0000

.tile MIB_R58C50:EBR_SPINE_LR0
arc: G_VPTX0000 G_HPRX0000

.tile MIB_R58C77:EBR_SPINE_LR1
arc: G_VPTX0000 G_HPRX0000

.tile MIB_R71C18:SPICB0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R71C1:BANKREF6
enum: BANK.VCCIO 3V3

.tile MIB_R71C3:BANKREF8
enum: BANK.VCCIO 3V3

.tile MIB_R71C4:EFB0_PICB0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
unknown: F54B1
unknown: F56B1
unknown: F82B1
unknown: F94B1

.tile MIB_R71C5:EFB1_PICB1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R71C89:BANKREF3
enum: BANK.VCCIO 3V3

.tile R11C13:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R11C19:PLC2
arc: E3_H06E0003 W3_H06E0303

.tile R11C25:PLC2
arc: E3_H06E0003 W3_H06E0003

.tile R11C31:PLC2
arc: E3_H06E0103 W3_H06E0003

.tile R11C37:PLC2
arc: E3_H06E0103 W3_H06E0103
arc: N3_V06N0003 E3_H06W0003

.tile R11C3:PLC2
arc: V00B0100 W1_H02E0501
arc: C0 W1_H02E0601
arc: CLK0 G_HPBX0000
arc: F0 F0_SLICE
arc: LSR0 V00T0000
arc: M6 V00B0100
arc: MUXCLK3 CLK0
arc: MUXLSR3 LSR0
arc: N3_V06N0303 Q6
arc: V00T0000 F0
word: SLICEA.K0.INIT 0000111100001111
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.A0MUX 1
enum: SLICEA.B0MUX 1
enum: SLICEA.D0MUX 1
enum: SLICED.GSR DISABLED
enum: SLICED.REG0.SD 0
enum: SLICED.REG0.REGSET RESET
enum: SLICED.REG0.LSRMODE LSR
enum: SLICED.CEMUX 1
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R11C43:PLC2
arc: E3_H06E0203 W3_H06E0103
arc: W3_H06W0003 E3_H06W0003

.tile R11C49:PLC2
arc: E3_H06E0303 W3_H06E0203
arc: W3_H06W0003 E3_H06W0003

.tile R11C55:PLC2
arc: E3_H06E0003 W3_H06E0303
arc: W3_H06W0003 E3_H06W0303

.tile R11C61:PLC2
arc: E3_H06E0003 W3_H06E0003
arc: W3_H06W0303 E3_H06W0203

.tile R11C67:PLC2
arc: E3_H06E0003 W3_H06E0003
arc: W3_H06W0203 E3_H06W0103

.tile R11C6:PLC2
arc: N3_V06N0103 S3_V06N0103

.tile R11C73:PLC2
arc: E1_H01E0001 W3_H06E0003
arc: A3 E1_H01E0001
arc: CLK0 G_HPBX0000
arc: F3 F3_SLICE
arc: LSR1 V00T0100
arc: M1 E1_H02W0001
arc: MUXCLK0 CLK0
arc: MUXLSR0 LSR1
arc: V00T0100 F3
arc: W3_H06W0103 Q1
word: SLICEB.K1.INIT 0101010101010101
enum: SLICEB.MODE LOGIC
enum: SLICEB.CCU2.INJECT1_1 _NONE_
enum: SLICEB.B1MUX 1
enum: SLICEB.C1MUX 1
enum: SLICEB.D1MUX 1
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG1.SD 0
enum: SLICEA.REG1.REGSET RESET
enum: SLICEA.REG1.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R11C75:PLC2
arc: W1_H02W0001 E1_H02W0001

.tile R11C77:PLC2
arc: W1_H02W0001 S1_V02N0001

.tile R11C7:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R13C22:PLC2
arc: S3_V06S0203 N3_V06S0103

.tile R13C36:PLC2
arc: S3_V06S0103 N3_V06S0003

.tile R13C61:PLC2
arc: E1_H02E0201 S1_V02N0201

.tile R13C62:PLC2
arc: V00B0000 V02N0001
arc: CLK0 G_HPBX0000
arc: D3 H02E0201
arc: F3 F3_SLICE
arc: LSR0 V00T0100
arc: M4 V00B0000
arc: MUXCLK2 CLK0
arc: MUXLSR2 LSR0
arc: N3_V06N0203 Q4
arc: V00T0100 F3
word: SLICEB.K1.INIT 0000000011111111
enum: SLICEB.MODE LOGIC
enum: SLICEB.CCU2.INJECT1_1 _NONE_
enum: SLICEB.A1MUX 1
enum: SLICEB.B1MUX 1
enum: SLICEB.C1MUX 1
enum: SLICEC.GSR DISABLED
enum: SLICEC.REG0.SD 0
enum: SLICEC.REG0.REGSET RESET
enum: SLICEC.REG0.LSRMODE LSR
enum: SLICEC.CEMUX 1
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R13C74:PLC2
arc: N3_V06N0203 S3_V06N0103

.tile R13C77:PLC2
arc: N1_V02N0001 E3_H06W0003

.tile R13C83:PLC2
arc: W3_H06W0003 E3_H06W0303

.tile R14C62:PLC2
arc: N1_V02N0001 H06W0003

.tile R14C65:PLC2
arc: W3_H06W0003 E3_H06W0303

.tile R14C71:PLC2
arc: W3_H06W0303 E3_H06W0303

.tile R14C77:PLC2
arc: W3_H06W0303 E3_H06W0303

.tile R14C83:PLC2
arc: W3_H06W0303 E3_H06W0303

.tile R15C61:PLC2
arc: N1_V02N0201 S1_V02N0701

.tile R16C9:PLC2
arc: N3_V06N0203 S3_V06N0103

.tile R17C13:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R17C19:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R17C25:PLC2
arc: E3_H06E0003 W3_H06E0303

.tile R17C31:PLC2
arc: E3_H06E0003 W3_H06E0003

.tile R17C37:PLC2
arc: E3_H06E0103 W3_H06E0003

.tile R17C43:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R17C49:PLC2
arc: E3_H06E0203 W3_H06E0203

.tile R17C55:PLC2
arc: E3_H06E0203 W3_H06E0203

.tile R17C61:PLC2
arc: E3_H06E0303 W3_H06E0203
arc: N1_V02N0701 W3_H06E0203

.tile R17C67:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R17C6:PLC2
arc: N3_V06N0103 S3_V06N0103

.tile R17C73:PLC2
arc: S1_V02S0501 W3_H06E0303

.tile R17C7:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R19C22:PLC2
arc: S3_V06S0203 N3_V06S0203

.tile R19C36:PLC2
arc: S3_V06S0103 N3_V06S0103

.tile R19C73:PLC2
arc: E1_H02E0501 N1_V02S0501

.tile R19C74:PLC2
arc: V00B0100 V02N0101
arc: A0 H02E0501
arc: CLK0 G_HPBX0000
arc: F0 F0_SLICE
arc: LSR1 V00T0000
arc: M2 V00B0100
arc: MUXCLK1 CLK0
arc: MUXLSR1 LSR1
arc: N3_V06N0103 Q2
arc: V00T0000 F0
word: SLICEA.K0.INIT 0101010101010101
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.B0MUX 1
enum: SLICEA.C0MUX 1
enum: SLICEA.D0MUX 1
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG0.SD 0
enum: SLICEB.REG0.REGSET RESET
enum: SLICEB.REG0.LSRMODE LSR
enum: SLICEB.CEMUX 1
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R20C11:PLC2
arc: V00B0000 E1_H02W0601
arc: CLK0 G_HPBX0000
arc: D0 V02N0001
arc: E3_H06E0203 Q4
arc: F0 F0_SLICE
arc: LSR1 V00T0000
arc: M4 V00B0000
arc: MUXCLK2 CLK0
arc: MUXLSR2 LSR1
arc: V00T0000 F0
word: SLICEA.K0.INIT 0000000011111111
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.A0MUX 1
enum: SLICEA.B0MUX 1
enum: SLICEA.C0MUX 1
enum: SLICEC.GSR DISABLED
enum: SLICEC.REG0.SD 0
enum: SLICEC.REG0.REGSET RESET
enum: SLICEC.REG0.LSRMODE LSR
enum: SLICEC.CEMUX 1
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R20C13:PLC2
arc: W1_H02W0601 W3_H06E0303

.tile R20C17:PLC2
arc: E3_H06E0303 W3_H06E0203

.tile R20C23:PLC2
arc: E3_H06E0003 W3_H06E0303

.tile R20C29:PLC2
arc: E3_H06E0103 W3_H06E0003

.tile R20C35:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R20C3:PLC2
arc: E1_H02E0501 E1_H01W0100

.tile R20C41:PLC2
arc: E3_H06E0203 W3_H06E0203

.tile R20C47:PLC2
arc: E3_H06E0303 W3_H06E0203

.tile R20C4:PLC2
arc: V00B0100 H02W0701
arc: CLK0 G_HPBX0000
arc: D7 V02N0601
arc: F7 F7_SLICE
arc: H01W0100 F7
arc: LSR0 H02E0501
arc: M0 V00B0100
arc: MUXCLK0 CLK0
arc: MUXLSR0 LSR0
arc: W3_H06W0003 Q0
word: SLICED.K1.INIT 0000000011111111
enum: SLICED.MODE LOGIC
enum: SLICED.CCU2.INJECT1_1 _NONE_
enum: SLICED.A1MUX 1
enum: SLICED.B1MUX 1
enum: SLICED.C1MUX 1
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 0
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R20C53:PLC2
arc: E3_H06E0003 W3_H06E0303

.tile R20C59:PLC2
arc: E3_H06E0003 W3_H06E0003

.tile R20C5:PLC2
arc: W1_H02W0701 S1_V02N0701

.tile R20C65:PLC2
arc: E3_H06E0103 W3_H06E0003

.tile R20C71:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R20C74:PLC2
arc: N1_V02N0101 H06W0103

.tile R20C77:PLC2
arc: E3_H06E0303 W3_H06E0203
arc: W3_H06W0103 E3_H06W0003

.tile R20C7:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R20C83:PLC2
arc: E3_H06E0003 W3_H06E0303
arc: W3_H06W0003 E3_H06W0303

.tile R21C11:PLC2
arc: N1_V02N0001 E1_H02W0001

.tile R21C13:PLC2
arc: W1_H02W0001 S1_V02N0001

.tile R21C4:PLC2
arc: N1_V02N0601 S1_V02N0601

.tile R23C13:PLC2
arc: E3_H06E0003 W3_H06E0003
arc: N1_V02N0001 W3_H06E0003

.tile R23C19:PLC2
arc: E3_H06E0003 W3_H06E0003

.tile R23C25:PLC2
arc: E3_H06E0003 W3_H06E0003

.tile R23C31:PLC2
arc: E3_H06E0103 W3_H06E0003

.tile R23C37:PLC2
arc: E3_H06E0103 W3_H06E0103
arc: S3_V06S0103 W3_H06E0103

.tile R23C43:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R23C49:PLC2
arc: E3_H06E0203 W3_H06E0203

.tile R23C4:PLC2
arc: N1_V02N0601 H06E0303

.tile R23C55:PLC2
arc: E3_H06E0203 W3_H06E0203

.tile R23C61:PLC2
arc: E3_H06E0203 W3_H06E0203

.tile R23C67:PLC2
arc: E3_H06E0303 W3_H06E0203

.tile R23C6:PLC2
arc: N3_V06N0103 S3_V06N0103

.tile R23C73:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R23C79:PLC2
arc: S3_V06S0303 W3_H06E0303

.tile R23C7:PLC2
arc: E3_H06E0003 W3_H06E0303
arc: S3_V06S0303 W3_H06E0303

.tile R25C22:PLC2
arc: S3_V06S0203 N3_V06S0203

.tile R25C36:PLC2
arc: S3_V06S0103 N3_V06S0103

.tile R26C13:PLC2
arc: E3_H06E0003 W3_H06E0003
arc: W3_H06W0303 E3_H06W0303

.tile R26C19:PLC2
arc: E3_H06E0003 W3_H06E0003
arc: W3_H06W0303 E3_H06W0203

.tile R26C25:PLC2
arc: E3_H06E0103 W3_H06E0003
arc: W3_H06W0203 E3_H06W0203

.tile R26C2:PLC2
arc: V00B0100 H02E0701
arc: C3 H02E0601
arc: CLK0 G_HPBX0000
arc: F3 F3_SLICE
arc: H01W0100 Q6
arc: LSR1 V00T0100
arc: M6 V00B0100
arc: MUXCLK3 CLK0
arc: MUXLSR3 LSR1
arc: V00T0100 F3
word: SLICEB.K1.INIT 0000111100001111
enum: SLICEB.MODE LOGIC
enum: SLICEB.CCU2.INJECT1_1 _NONE_
enum: SLICEB.A1MUX 1
enum: SLICEB.B1MUX 1
enum: SLICEB.D1MUX 1
enum: SLICED.GSR DISABLED
enum: SLICED.REG0.SD 0
enum: SLICED.REG0.REGSET RESET
enum: SLICED.REG0.LSRMODE LSR
enum: SLICED.CEMUX 1
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R26C31:PLC2
arc: E3_H06E0103 W3_H06E0103
arc: W3_H06W0203 E3_H06W0203

.tile R26C37:PLC2
arc: E3_H06E0103 W3_H06E0103
arc: W3_H06W0203 E3_H06W0203

.tile R26C43:PLC2
arc: E3_H06E0203 W3_H06E0103
arc: W3_H06W0203 E3_H06W0103

.tile R26C49:PLC2
arc: E3_H06E0303 W3_H06E0203
arc: W3_H06W0103 E3_H06W0003

.tile R26C55:PLC2
arc: E3_H06E0003 W3_H06E0303
arc: W3_H06W0003 E3_H06W0003

.tile R26C61:PLC2
arc: E3_H06E0103 W3_H06E0003
arc: W3_H06W0003 E3_H06W0303

.tile R26C67:PLC2
arc: E3_H06E0103 W3_H06E0103
arc: W3_H06W0303 E3_H06W0303

.tile R26C73:PLC2
arc: E3_H06E0103 W3_H06E0103
arc: W3_H06W0303 E3_H06W0303

.tile R26C78:PLC2
arc: E1_H02E0201 E1_H01W0000

.tile R26C79:PLC2
arc: H01W0000 W3_H06E0103
arc: V00B0100 E1_H02W0501
arc: CLK0 G_HPBX0000
arc: D1 H02E0201
arc: F1 F1_SLICE
arc: LSR1 V00T0100
arc: M6 V00B0100
arc: MUXCLK3 CLK0
arc: MUXLSR3 LSR1
arc: V00T0100 F1
arc: W3_H06W0303 Q6
word: SLICEA.K1.INIT 0000000011111111
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_1 _NONE_
enum: SLICEA.A1MUX 1
enum: SLICEA.B1MUX 1
enum: SLICEA.C1MUX 1
enum: SLICED.GSR DISABLED
enum: SLICED.REG0.SD 0
enum: SLICED.REG0.REGSET RESET
enum: SLICED.REG0.LSRMODE LSR
enum: SLICED.CEMUX 1
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R26C7:PLC2
arc: E3_H06E0003 W3_H06E0303
arc: W3_H06W0303 E3_H06W0303

.tile R26C81:PLC2
arc: W1_H02W0501 E1_H02W0501

.tile R26C83:PLC2
arc: W1_H02W0501 S1_V02N0501

.tile R28C7:PLC2
arc: E1_H02E0101 W3_H06E0103

.tile R28C83:PLC2
arc: N1_V02N0501 E3_H06W0303

.tile R28C9:PLC2
arc: H00L0100 W1_H02E0101
arc: A1 V02N0501
arc: CLK0 G_HPBX0000
arc: F1 F1_SLICE
arc: LSR1 V00T0100
arc: M1 H00L0100
arc: MUXCLK0 CLK0
arc: MUXLSR0 LSR1
arc: N3_V06N0103 Q1
arc: V00T0100 F1
word: SLICEA.K1.INIT 0101010101010101
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_1 _NONE_
enum: SLICEA.B1MUX 1
enum: SLICEA.C1MUX 1
enum: SLICEA.D1MUX 1
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG1.SD 0
enum: SLICEA.REG1.REGSET RESET
enum: SLICEA.REG1.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R29C10:PLC2
arc: W3_H06W0303 E3_H06W0203

.tile R29C13:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R29C16:PLC2
arc: W3_H06W0203 E3_H06W0103

.tile R29C19:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R29C22:PLC2
arc: S3_V06S0303 H06E0303
arc: W3_H06W0103 E3_H06W0103

.tile R29C25:PLC2
arc: E3_H06E0003 W3_H06E0303

.tile R29C28:PLC2
arc: W3_H06W0103 E3_H06W0103

.tile R29C2:PLC2
arc: W1_H02W0701 E1_H02W0601

.tile R29C31:PLC2
arc: E3_H06E0003 W3_H06E0003

.tile R29C34:PLC2
arc: W3_H06W0103 E3_H06W0003

.tile R29C37:PLC2
arc: E3_H06E0103 W3_H06E0003
arc: S3_V06S0203 N3_V06S0103

.tile R29C40:PLC2
arc: W3_H06W0003 E3_H06W0003

.tile R29C43:PLC2
arc: E1_H02E0101 W3_H06E0103
arc: E3_H06E0103 W3_H06E0103

.tile R29C45:PLC2
arc: E1_H02E0401 W1_H02E0101

.tile R29C46:PLC2
arc: C1 H02E0401
arc: CLK0 G_HPBX0000
arc: F1 F1_SLICE
arc: LSR1 V00T0100
arc: M3 H02W0201
arc: MUXCLK1 CLK0
arc: MUXLSR1 LSR1
arc: V00T0100 F1
arc: W3_H06W0003 Q3
word: SLICEA.K1.INIT 0000111100001111
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_1 _NONE_
enum: SLICEA.A1MUX 1
enum: SLICEA.B1MUX 1
enum: SLICEA.D1MUX 1
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG1.SD 0
enum: SLICEB.REG1.REGSET RESET
enum: SLICEB.REG1.LSRMODE LSR
enum: SLICEB.CEMUX 1
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R29C47:PLC2
arc: W1_H02W0201 S1_V02N0201

.tile R29C49:PLC2
arc: E3_H06E0103 W3_H06E0103

.tile R29C4:PLC2
arc: W1_H02W0601 E3_H06W0303

.tile R29C55:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R29C61:PLC2
arc: E3_H06E0303 W3_H06E0203

.tile R29C64:PLC2
arc: S3_V06S0303 H06E0303

.tile R29C67:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R29C6:PLC2
arc: A3 H02W0501
arc: CLK0 G_HPBX0000
arc: F3 F3_SLICE
arc: LSR0 V00T0100
arc: M2 H02W0601
arc: MUXCLK1 CLK0
arc: MUXLSR1 LSR0
arc: N3_V06N0103 Q2
arc: V00T0100 F3
word: SLICEB.K1.INIT 0101010101010101
enum: SLICEB.MODE LOGIC
enum: SLICEB.CCU2.INJECT1_1 _NONE_
enum: SLICEB.B1MUX 1
enum: SLICEB.C1MUX 1
enum: SLICEB.D1MUX 1
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG0.SD 0
enum: SLICEB.REG0.REGSET RESET
enum: SLICEB.REG0.LSRMODE LSR
enum: SLICEB.CEMUX 1
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R29C73:PLC2
arc: E3_H06E0003 W3_H06E0303

.tile R29C79:PLC2
arc: S3_V06S0003 W3_H06E0003
arc: S3_V06S0303 N3_V06S0303

.tile R29C7:PLC2
arc: E1_H02E0501 W3_H06E0303
arc: E3_H06E0303 W3_H06E0303
arc: W1_H02W0501 N3_V06S0303
arc: W1_H02W0601 S1_V02N0601

.tile R29C9:PLC2
arc: N1_V02N0501 W1_H02E0501

.tile R2C62:PLC2
arc: N1_V02N0701 N1_V01S0100

.tile R31C22:PLC2
arc: S3_V06S0203 N3_V06S0203

.tile R31C36:PLC2
arc: S3_V06S0203 N3_V06S0103

.tile R31C47:PLC2
arc: N1_V02N0201 E3_H06W0103

.tile R31C53:PLC2
arc: W3_H06W0103 E3_H06W0103

.tile R31C59:PLC2
arc: W3_H06W0103 E3_H06W0003

.tile R31C65:PLC2
arc: W3_H06W0003 E3_H06W0003

.tile R31C71:PLC2
arc: W3_H06W0003 E3_H06W0303

.tile R31C77:PLC2
arc: W3_H06W0303 E3_H06W0303

.tile R31C7:PLC2
arc: N1_V02N0601 W3_H06E0303

.tile R31C83:PLC2
arc: W3_H06W0303 E3_H06W0303

.tile R32C79:PLC2
arc: E1_H02E0501 V06S0303
arc: E1_H02E0601 S1_V02N0601

.tile R32C80:PLC2
arc: V00B0100 H02E0501
arc: CLK0 G_HPBX0000
arc: D3 V00B0100
arc: E3_H06E0003 Q0
arc: F3 F3_SLICE
arc: LSR1 V00T0100
arc: M0 H02E0601
arc: MUXCLK0 CLK0
arc: MUXLSR0 LSR1
arc: V00T0100 F3
word: SLICEB.K1.INIT 0000000011111111
enum: SLICEB.MODE LOGIC
enum: SLICEB.CCU2.INJECT1_1 _NONE_
enum: SLICEB.A1MUX 1
enum: SLICEB.B1MUX 1
enum: SLICEB.C1MUX 1
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 0
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R32C86:PLC2
arc: E3_H06E0103 W3_H06E0003

.tile R35C22:PLC2
arc: S3_V06S0003 N3_V06S0303

.tile R35C2:PLC2
arc: H00R0100 H02E0701
arc: C3 H02E0601
arc: CLK0 G_HPBX0000
arc: F3 F3_SLICE
arc: H01W0100 Q3
arc: LSR1 V00T0100
arc: M3 H00R0100
arc: MUXCLK1 CLK0
arc: MUXLSR1 LSR1
arc: V00T0100 F3
word: SLICEB.K1.INIT 0000111100001111
enum: SLICEB.MODE LOGIC
enum: SLICEB.CCU2.INJECT1_1 _NONE_
enum: SLICEB.A1MUX 1
enum: SLICEB.B1MUX 1
enum: SLICEB.D1MUX 1
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG1.SD 0
enum: SLICEB.REG1.REGSET RESET
enum: SLICEB.REG1.LSRMODE LSR
enum: SLICEB.CEMUX 1
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R35C37:PLC2
arc: S3_V06S0203 N3_V06S0203

.tile R35C3:PLC2
arc: S1_V02S0601 W1_H02E0601

.tile R35C64:PLC2
arc: S3_V06S0003 N3_V06S0303

.tile R35C79:PLC2
arc: S3_V06S0103 N3_V06S0003

.tile R36C3:PLC2
arc: H00R0000 V02S0601
arc: V00B0100 W1_H02E0501
arc: CLK0 G_HPBX0000
arc: D3 H00R0000
arc: F3 F3_SLICE
arc: LSR1 V00T0100
arc: M2 V00B0100
arc: MUXCLK1 CLK0
arc: MUXLSR1 LSR1
arc: S3_V06S0103 Q2
arc: V00T0100 F3
word: SLICEB.K1.INIT 0000000011111111
enum: SLICEB.MODE LOGIC
enum: SLICEB.CCU2.INJECT1_1 _NONE_
enum: SLICEB.A1MUX 1
enum: SLICEB.B1MUX 1
enum: SLICEB.C1MUX 1
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG0.SD 0
enum: SLICEB.REG0.REGSET RESET
enum: SLICEB.REG0.LSRMODE LSR
enum: SLICEB.CEMUX 1
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R37C22:PLC2
arc: S1_V02S0401 N3_V06S0203

.tile R37C36:PLC2
arc: S3_V06S0303 N3_V06S0203

.tile R39C19:PLC2
arc: S3_V06S0303 H06W0303

.tile R39C22:PLC2
arc: V00T0000 N1_V02S0401
arc: CLK0 G_HPBX0000
arc: D1 S1_V02N0001
arc: F1 F1_SLICE
arc: LSR0 V00T0100
arc: M6 V00T0000
arc: MUXCLK3 CLK0
arc: MUXLSR3 LSR0
arc: V00T0100 F1
arc: W3_H06W0303 Q6
word: SLICEA.K1.INIT 0000000011111111
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_1 _NONE_
enum: SLICEA.A1MUX 1
enum: SLICEA.B1MUX 1
enum: SLICEA.C1MUX 1
enum: SLICED.GSR DISABLED
enum: SLICED.REG0.SD 0
enum: SLICED.REG0.REGSET RESET
enum: SLICED.REG0.LSRMODE LSR
enum: SLICED.CEMUX 1
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R3C3:PLC2
arc: N1_V02N0701 S1_V02N0601

.tile R3C6:PLC2
arc: N1_V02N0401 S1_V02N0101

.tile R41C22:PLC2
arc: N1_V02N0001 N3_V06S0003

.tile R41C37:PLC2
arc: S3_V06S0303 N3_V06S0203

.tile R41C64:PLC2
arc: S3_V06S0003 N3_V06S0003

.tile R41C79:PLC2
arc: S3_V06S0203 N3_V06S0103

.tile R42C3:PLC2
arc: S3_V06S0103 N3_V06S0103

.tile R43C36:PLC2
arc: S3_V06S0003 N3_V06S0303

.tile R44C61:PLC2
arc: E1_H02E0601 S1_V02N0601

.tile R44C63:PLC2
arc: CLK0 G_HPBX0000
arc: D1 H02W0001
arc: E3_H06E0103 Q2
arc: F1 F1_SLICE
arc: LSR1 V00T0100
arc: M2 W1_H02E0601
arc: MUXCLK1 CLK0
arc: MUXLSR1 LSR1
arc: V00T0100 F1
word: SLICEA.K1.INIT 0000000011111111
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_1 _NONE_
enum: SLICEA.A1MUX 1
enum: SLICEA.B1MUX 1
enum: SLICEA.C1MUX 1
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG0.SD 0
enum: SLICEB.REG0.REGSET RESET
enum: SLICEB.REG0.LSRMODE LSR
enum: SLICEB.CEMUX 1
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R44C64:PLC2
arc: W1_H02W0001 V06S0003

.tile R44C69:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R44C75:PLC2
arc: E3_H06E0203 W3_H06E0203

.tile R44C81:PLC2
arc: E3_H06E0203 W3_H06E0203

.tile R44C87:PLC2
arc: E1_H02E0701 W3_H06E0203

.tile R45C19:PLC2
arc: S3_V06S0003 N3_V06S0303

.tile R47C12:PLC2
arc: W3_H06W0303 E3_H06W0303

.tile R47C18:PLC2
arc: W3_H06W0303 E3_H06W0303

.tile R47C24:PLC2
arc: W3_H06W0303 E3_H06W0203

.tile R47C30:PLC2
arc: W3_H06W0203 E3_H06W0103

.tile R47C36:PLC2
arc: V00B0100 S1_V02N0301
arc: C0 H02W0601
arc: CLK0 G_HPBX0000
arc: F0 F0_SLICE
arc: LSR1 V00T0000
arc: M2 V00B0100
arc: MUXCLK1 CLK0
arc: MUXLSR1 LSR1
arc: V00T0000 F0
arc: W3_H06W0103 Q2
word: SLICEA.K0.INIT 0000111100001111
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.A0MUX 1
enum: SLICEA.B0MUX 1
enum: SLICEA.D0MUX 1
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG0.SD 0
enum: SLICEB.REG0.REGSET RESET
enum: SLICEB.REG0.LSRMODE LSR
enum: SLICEB.CEMUX 1
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R47C37:PLC2
arc: W1_H02W0601 N3_V06S0303

.tile R47C4:PLC2
arc: W3_H06W0303 E1_H02W0601

.tile R47C6:PLC2
arc: W1_H02W0601 E3_H06W0303

.tile R47C79:PLC2
arc: E1_H02E0401 N3_V06S0203
arc: S3_V06S0203 N3_V06S0203

.tile R47C80:PLC2
arc: C5 H02E0401
arc: E3_H06E0303 F5
arc: F5 F5_SLICE
word: SLICEC.K1.INIT 0000111100001111
enum: SLICEC.MODE LOGIC
enum: SLICEC.CCU2.INJECT1_1 _NONE_
enum: SLICEC.A1MUX 1
enum: SLICEC.B1MUX 1
enum: SLICEC.D1MUX 1

.tile R47C86:PLC2
arc: E1_H02E0501 W3_H06E0303

.tile R47C88:PLC2
arc: V00B0100 H02W0701
arc: CLK0 G_HPBX0000
arc: E1_H01E0001 Q0
arc: LSR1 W1_H02E0501
arc: M0 V00B0100
arc: MUXCLK0 CLK0
arc: MUXLSR0 LSR1
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 0
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR1.SRMODE ASYNC
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R48C3:PLC2
arc: S3_V06S0103 N3_V06S0103

.tile R49C36:PLC2
arc: N1_V02N0301 N3_V06S0003

.tile R4C37:PLC2
arc: N3_V06N0203 V01N0001

.tile R4C9:PLC2
arc: N3_V06N0203 S3_V06N0203

.tile R50C78:PLC2
arc: H00R0100 S1_V02N0701
arc: C1 H02W0401
arc: CLK0 G_HPBX0000
arc: E3_H06E0003 Q3
arc: F1 F1_SLICE
arc: LSR0 V00T0100
arc: M3 H00R0100
arc: MUXCLK1 CLK0
arc: MUXLSR1 LSR0
arc: V00T0100 F1
word: SLICEA.K1.INIT 0000111100001111
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_1 _NONE_
enum: SLICEA.A1MUX 1
enum: SLICEA.B1MUX 1
enum: SLICEA.D1MUX 1
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG1.SD 0
enum: SLICEB.REG1.REGSET RESET
enum: SLICEB.REG1.LSRMODE LSR
enum: SLICEB.CEMUX 1
enum: LSR0.SRMODE ASYNC
enum: LSR0.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R50C79:PLC2
arc: W1_H02W0401 V06S0203

.tile R50C84:PLC2
arc: E1_H02E0301 W3_H06E0003

.tile R50C86:PLC2
arc: E1_H02E0601 W1_H02E0301

.tile R50C88:PLC2
arc: E1_H02E0701 W1_H02E0601

.tile R51C19:PLC2
arc: S3_V06S0103 N3_V06S0003

.tile R52C13:PLC2
arc: E3_H06E0003 W3_H06E0003

.tile R52C19:PLC2
arc: E3_H06E0003 W3_H06E0003

.tile R52C25:PLC2
arc: E3_H06E0103 W3_H06E0003

.tile R52C31:PLC2
arc: E3_H06E0103 W3_H06E0103

.tile R52C37:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R52C43:PLC2
arc: E3_H06E0303 W3_H06E0203

.tile R52C49:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R52C55:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R52C61:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R52C67:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R52C73:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R52C78:PLC2
arc: N1_V02N0701 E1_H01W0100

.tile R52C79:PLC2
arc: H01W0100 W3_H06E0303

.tile R52C7:PLC2
arc: E3_H06E0003 W3_H06E0303

.tile R54C3:PLC2
arc: S3_V06S0203 N3_V06S0103

.tile R57C19:PLC2
arc: S3_V06S0103 N3_V06S0103

.tile R5C37:PLC2
arc: N1_V01N0001 S3_V06N0003

.tile R5C3:PLC2
arc: N1_V02N0601 S3_V06N0303

.tile R5C6:PLC2
arc: N1_V02N0101 S3_V06N0103

.tile R60C3:PLC2
arc: S3_V06S0303 N3_V06S0203

.tile R63C19:PLC2
arc: S3_V06S0203 N3_V06S0103

.tile R66C3:PLC2
arc: S1_V02S0501 N3_V06S0303

.tile R68C23:PLC2
word: SLICEC.K1.INIT 0000000000000000
enum: SLICEC.MODE LOGIC
enum: SLICEC.CCU2.INJECT1_1 _NONE_
enum: SLICEC.A1MUX 1
enum: SLICEC.B1MUX 1
enum: SLICEC.C1MUX 1
enum: SLICEC.D1MUX 1

.tile R68C3:PLC2
arc: E1_H02E0501 N1_V02S0501

.tile R68C4:PLC2
arc: S1_V02S0501 H02E0501

.tile R68C5:PLC2
arc: S1_V02S0501 W1_H02E0501

.tile R69C19:PLC2
arc: S1_V02S0701 N3_V06S0203

.tile R7C22:PLC2
arc: S3_V06S0103 N3_V06S0103

.tile R7C36:PLC2
arc: S3_V06S0003 N3_V06S0003

.tile R7C62:PLC2
arc: N3_V06N0303 S3_V06N0203

.tile R7C74:PLC2
arc: N3_V06N0203 S3_V06N0203

.tile TAP_R11C13:TAP_DRIVE
arc: L_HPBX0000 G_VPTX0000

.tile TAP_R11C78:TAP_DRIVE
arc: L_HPBX0000 G_VPTX0000

.tile TAP_R13C51:TAP_DRIVE
arc: R_HPBX0000 G_VPTX0000

.tile TAP_R19C78:TAP_DRIVE
arc: L_HPBX0000 G_VPTX0000

.tile TAP_R20C13:TAP_DRIVE
arc: L_HPBX0000 G_VPTX0000

.tile TAP_R26C13:TAP_DRIVE
arc: L_HPBX0000 G_VPTX0000

.tile TAP_R26C78:TAP_DRIVE
arc: R_HPBX0000 G_VPTX0000

.tile TAP_R28C13:TAP_DRIVE
arc: L_HPBX0000 G_VPTX0000

.tile TAP_R29C13:TAP_DRIVE
arc: L_HPBX0000 G_VPTX0000

.tile TAP_R29C51:TAP_DRIVE
arc: L_HPBX0000 G_VPTX0000

.tile TAP_R32C78:TAP_DRIVE
arc: R_HPBX0000 G_VPTX0000

.tile TAP_R35C13:TAP_DRIVE
arc: L_HPBX0000 G_VPTX0000

.tile TAP_R36C13:TAP_DRIVE
arc: L_HPBX0000 G_VPTX0000

.tile TAP_R39C31:TAP_DRIVE
arc: L_HPBX0000 G_VPTX0000

.tile TAP_R44C51:TAP_DRIVE
arc: R_HPBX0000 G_VPTX0000

.tile TAP_R47C31:TAP_DRIVE
arc: R_HPBX0000 G_VPTX0000

.tile TAP_R47C78:TAP_DRIVE
arc: R_HPBX0000 G_VPTX0000

.tile TAP_R50C78:TAP_DRIVE
arc: R_HPBX0000 G_VPTX0000

