# ChipLoop starter LPF for adaptive_aero_control_top_spi_fpga_top
# target_frequency_mhz 50.0
LOCATE COMP "clk" SITE "G2";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
LOCATE COMP "reset_n" SITE "T1";
IOBUF PORT "reset_n" IO_TYPE=LVCMOS33;
LOCATE COMP "spi_sclk" SITE "B11";
IOBUF PORT "spi_sclk" IO_TYPE=LVCMOS33;
LOCATE COMP "spi_cs_n" SITE "A10";
IOBUF PORT "spi_cs_n" IO_TYPE=LVCMOS33;
LOCATE COMP "spi_mosi" SITE "A9";
IOBUF PORT "spi_mosi" IO_TYPE=LVCMOS33;
LOCATE COMP "spi_miso" SITE "B9";
IOBUF PORT "spi_miso" IO_TYPE=LVCMOS33;
LOCATE COMP "fault_indicator" SITE "B2";
IOBUF PORT "fault_indicator" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 50.0 MHz;
